body {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  size: 200vh;
  background-color: rgb(58, 58, 58);
}

.winCounter {
  display: flex;
  position: absolute;
  top: 100%;
  font-size: 50px;
}

.gameBoard {
  display: flexbox; /* how come it can't work with flex? */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 400px;
  box-shadow: 2px 2px 1000px #ffffff;
  border-radius: 10px; /* border radius doesn't seem to be working. is this due to CSS grid? */
}

.jsDisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  height: 70px;
  width: 400px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 70px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 1);
}

.userDisplayBoard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.userDisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  height: 100px;
  font-family: garamond, sans-serif;
  font-size: 50px;
}
/* add a padding so that the user's number doesn't stick to the side. */

.randOperation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  font-family: garamond, sans-serif;
  font-size: 70px;
}

.randomNumber {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  font-family: garamond, sans-serif;
  font-size: 50px;
}

.userInputBoard {
  display: grid;
  height: 620px;
  width: 400px;
  background-color: #413f3f;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center; /* ok now how do I get my buttons to align in the center of my specified grid? */
}
/* managed to get the buttons to center using "justify-items" instead of "justify-content", which is more common.
  what is the difference between justtify-content/items and align-conten/items? */

.button {
  display: flex;
  height: 110px;
  width: 70px;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: Garamond, sans-serif;
  font-size: 30px;
  background-color: rgb(202, 240, 252);
  border-radius: 30%;
  box-shadow: 2px 2px 5px #ffffff;
}

.button:hover {
  background-color: rgb(130, 240, 255);
  cursor: alias;
}

.button:active {
  box-shadow: 0 5px 5px #8d8c8c;
}

#button04 {
  height: 260px;
  grid-area: 1/4/3/5;
  border-radius: 10%;
}

#button11 {
  height: 260px;
  grid-area: 3/4/5/5;
  border-radius: 10%;
}

#button12 {
  width: 170px;
  height: 100px;
  grid-area: 4/1/5/3;
  border-radius: 10%;
}

.container {
  display: flex;
  flex-direction: column;
}

.gameLost {
  color: red;
  font-size: 100px;
}

.tryAgain {
  font-size: 100px;
  align-self: center;
  color: lightgray;
  background-color: rgb(58, 58, 58);
}

.back {
  font-size: 100px;
  align-self: center;
  color: lightgray;
  background-color: rgb(58, 58, 58);
}

.timer {
  font-size: 50px;
}
